<div class="container-fluid plr_30 pt_30">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="white_box mb_30">
                <div class="row mb_30">
                    <div class="col-lg-12">
                        <div class="tab-pane active" id="pawerPoint" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1"> {{ 'DomainsFilter.filterGroupName' | translate}}</label>
                                        <input type="text" placeholder="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label> {{ 'DomainsFilter.chooseTargetDomain' | translate}}</label>
                                        <select class="form-control">
                                            <option value="" selected> {{ 'DomainsFilter.dewaSmartLocal' | translate}}</option>
                                            <option value="user"> {{ 'DomainsFilter.defaultUser' | translate}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1"></label>
                                        <input type="text" placeholder=" {{ 'DomainsFilter.checkFilterPlaceholder' | translate}}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <label>{{ 'DomainsFilter.examples' | translate}}</label> <br>
                                        <label> {{ 'DomainsFilter.userName' | translate}} 
                                            
                                        </label>
                                        <div class="mt-2">
                                            <label>{{ 'DomainsFilter.attributeDepart' | translate}}
                                            </label>
                                        </div>
                                        <div class="mt-2">
                                            <label>{{ 'DomainsFilter.dateFormat' | translate}}
                                            </label>
                                        </div>
                                        <div class=" mt-1">
                                            <label for="exampleFormControlInput1"> {{ 'DomainsFilter.adFilterEnter' | translate}} </label>
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success"> {{ 'DomainsFilter.saveButton' | translate}} </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
