<div class="container-fluid plr_30 pt_30">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="white_box mb_30">
                <!-- <label> {{'OrganizationAudience.enterName' | translate}} </label> -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> {{'OrganizationAudience.enterName' | translate}} 
                            <input type="text" placeholder="" class="form-control" name="" id="">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-outline-secondary mr-1">{{'OrganizationAudience.cancelButton' | translate}} </button>
                        <button type="button" class="btn btn-success mr-1">{{'OrganizationAudience.nextButton' | translate}} </button>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>