<div class="modal-header">
	<h4 class="modal-title">License Expiration Warning</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"
    style="color: #fff; font-size: 30px;">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card lesson-border">
        <div class="card-body">
            <h4>Your 2b Innovations's user count has been crossed the available user count in your license.</h4>
            <h5>Users which are registered after your license expiration will not be able to recieve the alert you sent.</h5> 
            <h5>To update your 2b Innovations's License Please contact 2b Innovations and get a renewal.</h5>
            <h5>Email: <a style="color: blue;" href="mailto: dildeeps@2binnovations.com">dildeeps@2binnovations.com</a></h5>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>