<div class="container-fluid plr_30 pt_30">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="white_box mb_30">
                <div class="row">
                    <div class="col-md-7">
                        <form [formGroup]="formDevice" (ngSubmit)="onSearchDevice(formDevice.value)">
                            <div class="input-group">
                                <div class="form-outline">
                                    <input id="search-input" formControlName="search" placeholder=" {{ 'Device.placeholderSearchButton' | translate}}"
                                        type="search" id="form" class="form-control"
                                        style="padding: 17.7px; width: 210px;" />
                                </div>
                                <button type="submit" class="btn btn-success ml-3">
                                    {{ 'Device.deviceSearchButton' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-3 text-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-success"
                            routerLink="/device/send-content">{{ 'Device.deviceSendContentButton' | translate}}</button>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#DeviceModal"
                                (click)="onAddDevice()">{{ 'Device.deviceNewDeviceButton' | translate}} </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">

                        <div class="table-responsive">
                            <div *ngIf="loading" class="dot-opacity-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!-- <img src="../../../../../../assets/images/loader.gif" *ngIf="loading"> -->
                            <table class="table table-hover">
                                <thead class="thead-grey">
                                    <tr>
                                        <th>
                                            {{ 'Device.deviceListName' | translate}}
                                        </th>
                                        <th>
                                            Unique Code
                                        </th>
                                        <th>
                                            {{ 'Device.deviceListCreationDate' | translate}}
                                        </th>
                                        <th>
                                            {{ 'Device.deviceListSequenceRefreshRate' | translate}}
                                        </th>
                                        <th>
                                            {{ 'Device.deviceListActions' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let device of DeviceList | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }; let i=index">
                                        <td>
                                            {{device.name}}
                                        </td>
                                        <td>
                                            {{device.unique_code}}
                                            <!-- <a target="_blank" [routerLink]="['/device', 'digital-alert', 'DN', device.name]"
                                            style="color: #00838f;">
                                                <u>
                                                    {{device.link}}
                                                </u>
                                            </a> -->
                                        </td>
                                        <td>
                                            {{dateformat(device.created_date)}}, {{Timeformat(device.created_date)}}
                                        </td>
                                        <td>
                                            {{device.refresh_time}} {{device.refresh_time_choice}}
                                        </td>
                                        <td>
                                            <span class="mr-2" (click)="onEditDevice(device.id)"
                                            data-bs-toggle="modal" data-bs-target="#DeviceModal">
                                                <i class='fas fa-edit cursor'></i>
                                            </span>
                                            <span class="text-danger cursor" (click)="delete(device.id)">
                                                <i class="far fa-trash-alt"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="DeviceList.length === 0">
                                        {{ 'Device.deviceListRecord' | translate}}
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" style="width: 100%">
                                <div class="col-md-10 text-right">
                                    <pagination-controls (pageChange)="onPageChange($event, '1')"></pagination-controls>
                                </div>
                                <div class="col-md-2">
                                    <select id="PerPage" class="form-control" (change)="onPageChange($event, '2')">
                                        <option *ngFor="let item of PageTotalNumber" [value]="item">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="DeviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{DeviceTitle}} Device</h4>
                <button type="button" class="close text-white" style="font-size: 30px;" data-bs-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <app-create-device [deviceId]="deviceId" (valueChange)='ValueChanged($event)'></app-create-device>
            </div>
        </div>
    </div>
</div>