<div class="container-fluid plr_30 pt_30">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="white_box mb_30">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" (change)="onSelectedUserType($event)">
                                <option value="" selected> {{'Organization.objectType' | translate}}</option>
                                <option value="users" >{{'Organization.objectTypeIUsers' | translate}}</option>
                                <option value="groups">{{'Organization.objectTypeGroups' | translate}}</option>
                                <option value="computers"> {{'Organization.objectTypeComputers' | translate}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <form [formGroup]="formOrganization" (ngSubmit)="onSearchOrganization(formOrganization.value)">
                            <div class="input-group">
                                <div class="form-outline">
                                    <input id="search-input" formControlName="search" placeholder="{{'WallpaperSendUser.searchButtonPlaceholder' | translate}}" type="search"
                                        id="form" class="form-control" style="padding: 17.7px; width: 190px;" />
                                </div>
                                <button type="submit" class="btn btn-success ml-2">
                                    {{'EmergencySendUser.searchButton' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                   
                    <!-- <div class="col-lg-9 text-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-success mr-2"
                            routerLink="/organization/agroup">  {{'Organization.adFilter' | translate}}</button>
                            <button type="button" class="btn btn-success mr-2"
                            routerLink="/organization/audience">  {{'Organization.addGroup' | translate}}</button>
                            <button type="button" class="btn btn-success"
                            routerLink="/organization/user">    {{'Organization.addUser' | translate}}</button>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <ngx-treeview [config]="config" [items]="items" 
                            (selectedChange)="onSelectedChange($event, items)">
                            </ngx-treeview>
                        </div>
                    </div>
                    <div class="col-md-9 org_html_class">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive org_scroll">
                                    <div *ngIf="loading" class="dot-opacity-loader">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <table class="table table-hover ">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th *ngIf="UserType !== 'groups'">
                                                    {{'Organization.organizationListUsername' | translate}}
                                                </th>
                                                <th *ngIf="UserType !== 'groups'">
                                                    {{'Organization.organizationListDisplayName' | translate}}
                                                </th>
                                                <th *ngIf="UserType === 'groups'">
                                                    Group Name
                                                </th>
                                                <th>
                                                    {{'Organization.organizationListDomain' | translate}}
                                                </th>
                                                <th *ngIf="UserType !== 'groups'">
                                                    Unobtrusive
                                                </th>
                                                <!-- <th>
                                                    {{'Organization.organizationListMobile' | translate}}
                                                </th>
                                                <th>
                                                    {{'Organization.organizationListEmail' | translate}}
                                                </th> -->
                                                <th *ngIf="UserType !== 'groups'">
                                                    Version
                                                </th>
                                                <th *ngIf="UserType !== 'groups'">
                                                    {{'Organization.organizationListOnline' | translate}}
                                                </th>
                                                
                                                <th *ngIf="UserType !== 'groups'">
                                                    {{'Organization.organizationListLastActivity' | translate}}
                                                </th>
                                                <th *ngIf="UserType === 'groups'">
                                                    Users
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let org of OrganizationList | paginate: { id:'first', itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }; let i=index">
                                                <td *ngIf="UserType !== 'groups'">
                                                    {{org.username}}
                                                </td>
                                                <td *ngIf="UserType !== 'groups'">
                                                    {{org.display_name}}
                                                </td>
                                                <td *ngIf="UserType === 'groups'">
                                                    {{org.group_name}}
                                                </td>
                                                <td>
                                                    {{org.domain}}
                                                </td>
                                                <td *ngIf="UserType !== 'groups'">
                                                    {{org.unobtrusive_mode}}
                                                </td>
                                                <!-- <td>
                                                    {{org.email}}
                                                </td> -->
                                                <td *ngIf="UserType !== 'groups'">
                                                    {{org.client_version}}
                                                </td>
                                                <td *ngIf="UserType !== 'groups'">
                                                    <img src="assets/img/animation_500_l7srpppy.gif" alt="" width="20"
                                                    height="20" *ngIf="org.online">
                                                    <img src="assets/img/31120-live-icon.gif" alt="" width="20"
                                                    height="20" *ngIf="!org.online">
                                                </td>
                                                
                                                <td *ngIf="UserType !== 'groups'">
                                                    {{org.last_online_time | date}}<span *ngIf="org.last_online_time">,</span> {{org.last_online_time | date:'shortTime'}}
                                                </td>
                                                <!-- <td class="org_icon">
                                                    <i class='far fa-edit'> </i>
                                                    <i class='fas fa-search'></i>
                                                </td> -->
                                                <td *ngIf="UserType === 'groups'">
                                                    <img src="assets/img/users.png" alt="" width="27"
                                                    height="27" class="cursor" title="Show Group Users" data-bs-toggle="modal"
                                                    data-bs-target="#GroupUserListModal" (click)="GetGroupUserList( 1, org)">
                                                </td>
                                            </tr>
                                            
                                            <tr *ngIf="OrganizationList.length === 0">
                                                {{'Organization.organizationListRecord' | translate}}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row" style="width: 100%">
                                    <div class="col-md-10 text-right">
                                        <pagination-controls (pageChange)="onPageChange($event, '1')" id="first"></pagination-controls>
                                    </div>
                                    <div class="col-md-2">
                                        <select id="PerPage" class="form-control" (change)="onPageChange($event, '2')">
                                            <option *ngFor="let item of PageTotalNumber" [value]="item">
                                                {{ item }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="GroupUserListModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-left: 9rem;">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title mt-2"><span *ngIf="GroupName">{{GroupName}} - </span> Users List</h4>
                <button type="button" class="close text-white" style="font-size: 30px;"
                    data-bs-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div *ngIf="loading" class="dot-opacity-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="col-md-6 mb-2">
                                <form [formGroup]="formGroupUserList" (ngSubmit)="onSearchGroupUserList(formGroupUserList.value)">
                                    <div class="input-group">
                                        <div class="form-outline">
                                            <input id="search-input" formControlName="search" placeholder="Search Users" type="search"
                                                id="form" class="form-control" style="padding: 17.7px; width: 190px;" />
                                        </div>
                                        <button type="submit" class="btn btn-success ml-2">
                                            {{'EmergencySendUser.searchButton' | translate}}
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-hover ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            {{'Organization.organizationListUsername' | translate}}
                                        </th>
                                        <th>
                                            {{'Organization.organizationListDisplayName' | translate}}
                                        </th>
                                        <th>
                                            {{'Organization.organizationListDomain' | translate}}
                                        </th>
                                        <th>
                                            Unobtrusive
                                        </th>
                                        
                                        <th>
                                            {{'Organization.organizationListOnline' | translate}}
                                        </th>
                                        
                                        <th>
                                            {{'Organization.organizationListLastActivity' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let groupUser of GroupUserList | paginate: { id:'second', itemsPerPage: 10, currentPage: currentUserPage, totalItems: totalItemsUsers }; let i=index">
                                        <td>
                                            {{groupUser.username}}
                                        </td>
                                        <td>
                                            {{groupUser.display_name}}
                                        </td>
                                        <td>
                                            {{groupUser.domain}}
                                        </td>
                                        <td>
                                            {{groupUser.unobtrusive_mode}}
                                        </td>
                                      
                                        <td>
                                            <img src="assets/img/animation_500_l7srpppy.gif" alt="" width="20"
                                            height="20" *ngIf="groupUser.online">
                                            <img src="assets/img/31120-live-icon.gif" alt="" width="20"
                                            height="20" *ngIf="!groupUser.online">
                                        </td>
                                        
                                        <td>
                                            {{groupUser.last_online_time | date}}<span *ngIf="groupUser.last_online_time">,</span> {{groupUser.last_online_time | date:'shortTime'}}
                                        </td>
                                    </tr>
                                    
                                    <tr *ngIf="GroupUserList.length === 0">
                                        {{'Organization.organizationListRecord' | translate}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="width: 100%">
                            <div class="col-md-10 text-right">
                                <pagination-controls (pageChange)="onPageGroupUserChange($event, '1')" id="second"></pagination-controls>
                            </div>
                            <div class="col-md-2">
                                <select id="PerPage" class="form-control" (change)="onPageGroupUserChange($event, '2')">
                                    <option *ngFor="let item of PageTotalNumber" [value]="item">
                                        {{ item }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>