.right-side {
    background: #f5f5f5;
}

.alert-change {
    border: 4px solid green;
    padding: 5px;
    height: 250px;
}

.DAGreen {
    border: 4px solid green;
}

.DARed {
    border: 4px solid red;
}

.DABlue {
    border: 4px solid blue;
}

.DAYellow {
    border: 4px solid yellow;
}

.bbpt-4 {
    padding-top: 1.8rem!important;
}

.accord {
    color: #676b84;
}

.input-collape {
    height: 27px;
}

.line-space {
    line-height: 30px;
}

.size {
    border: 1px solid #dddbdb;
    background: #f7f7f7;
    color: #676b84;
}
.pan{
    line-break: normal;
}

.close_button {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.close_button:hover {
    color: #000;
    text-decoration: none
}
