<div class="container-fluid plr_30 pt_30">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="white_box mb_30">
                <div class="row">
                    <div class="card" *ngIf="RoleName === 'administrator'">
                        <div class="card-body">
                            <div class="col-md-4 cursor" routerLink="/settings/common" routerLinkActive="active">
                                <img class="img-responsive" src="assets/img/common_settings.jpg" width="150"
                                    height="170" >
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-4 cursor" routerLink="/settings/profile">
                                <img class="img-responsive" src="assets/img/profile_settings.jpg" width="150" height="170">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card" *ngIf="RoleName === 'administrator'">
                        <div class="card-body">
                            <div class="col-md-4 cursor" routerLink="/settings/shealth">
                                <img class="img-responsive" src="assets/img/system_health.jpg" width="150" height="170">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>