.marg{
    letter-spacing: 8px;
}

.alert-static {
    max-width: 500px;
    margin: 1.75rem auto;
}
.scroll {
    width: 990px;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    display: block;
}
.maroon-box {
    width: 20px;
    height: 20px;
    background-color: #a8385d;
    border-radius: 3px;
}
.cornblue-box{
    width: 20px;
    height: 20px;
    background-color:#7aa3e5;
    border-radius: 3px;
}
.purple-box{
    width: 20px;
    height: 20px;
    background-color:#a27ea8;
    border-radius: 3px;
}
.aqua-box{
    width: 20px;
    height: 20px;
    background-color:aqua;
    border-radius: 3px;
}
.user-box{
    width: 20px;
    height: 20px;
    background-color:cornflowerblue;
    border-radius: 3px;
}
.light-maroon-box{
    width: 20px;
    height: 20px;
    background-color:#aae3f5;
    border-radius: 3px;
}

.voted-box{
    width: 20px;
    height: 20px;
    background-color:#adcded;
    border-radius: 3px;
}

.not-voted-box{
    width: 20px;
    height: 20px;
    background-color:#a95963;
    border-radius: 3px;
}

.uss {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.bg-color {
    background: #f2f2f2;
    width: 370px;
    padding: 16px;
}
.csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    border: 1px solid;
    text-align: center;
}

.csv-result-table {
    margin: 5%;
    border: 1px solid #73AD21;
}

.dflex {
    display: -webkit-inline-box; 
}

.ques-sroll {
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
}

.maroon-box0 {
    width: 20px;
    height: 20px;
    background-color: #a8385d;
    border-radius: 3px;
}
.maroon-box1 {
    width: 20px;
    height: 20px;
    background-color: #7aa3e5;
    border-radius: 3px;
}
.maroon-box2 {
    width: 20px;
    height: 20px;
    background-color: #a27ea8;
    border-radius: 3px;
}
.maroon-box3 {
    width: 20px;
    height: 20px;
    background-color: #aae3f5;
    border-radius: 3px;
}
.maroon-box4 {
    width: 20px;
    height: 20px;
    background-color: #adcded;
    border-radius: 3px;
}
.maroon-box5 {
    width: 20px;
    height: 20px;
    background-color: #a95963;
    border-radius: 3px;
}
.maroon-box6 {
    width: 20px;
    height: 20px;
    background-color: #8796c0;
    border-radius: 3px;
}
.maroon-box7 {
    width: 20px;
    height: 20px;
    background-color: #7ed3ed;
    border-radius: 3px;
}
.maroon-box8 {
    width: 20px;
    height: 20px;
    background-color: #50abcc;
    border-radius: 3px;
}
.maroon-box9 {
    width: 20px;
    height: 20px;
    background-color: #ad6886;
    border-radius: 3px;
}
.maroon-box10 {
    width: 20px;
    height: 20px;
    background-color: #a8385d;
    border-radius: 3px;
}
.maroon-box11 {
    width: 20px;
    height: 20px;
    background-color: #7aa3e5;
    border-radius: 3px;
}
